
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center btn-group">
    <button class="btn btn-primary "></button>
    <button class="btn btn-primary "></button>
    <button class="btn btn-primary "></button>
</div>


<form method="post">
    <a class="btn btn-primary mb-1" asp-action="Upload">Upload</a>

    <div asp-validation-summary="All"></div>

    <table class="table table-striped table-sm ">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>


</form>