<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target name="database" xsi:type="Database"
                dbProvider="sqlserver"
                dbHost="${configsetting:name=NlogConnection.DbHost}"
                dbDatabase="${configsetting:name=NlogConnection.Database}"
                dbUserName="${configsetting:name=NlogConnection.User}"
                dbPassword="${configsetting:name=NlogConnection.Password}">

            <commandText>
                insert into dbo.Log (
                Application, Logged, Level, Message,
                Logger, CallSite, Exception
                ) values (
                @Application, @Logged, @Level, @Message,
                @Logger, @Callsite, @Exception
                );
            </commandText>
            <parameter name="@application" layout="AspNetCoreNlog" />
            <parameter name="@logged" layout="${date}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@logger" layout="${logger}" />
            <parameter name="@callSite" layout="${callsite:filename=true}" />
            <parameter name="@exception" layout="${exception:tostring}" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="database" />
    </rules>
</nlog>