@using GitApp.Controllers
@{
    ViewData["Title"] = "Upload";
}

<h1>Upload</h1>

    <input type="text" id="inputUrl" class="form-control col-5 mb-3" />
    <button type="submit" class="btn btn-dark" onclick="StartLoading()">Upload</button>

<script src="~/js/signalr.js"></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl('/UploadStatus', {
                                  skipNegotiation: true,
                                  transport: signalR.HttpTransportType.WebSockets
                                })
            .configureLogging(signalR.LogLevel.Trace)
            .build();
    
    
    function StartLoading(){
        let repoUrl = document.getElementById('inputUrl').value;
        
        hubConnection.invoke("Upload", repoUrl);
        
         window.open('/' + '@(nameof(VcsRepositoryController).Replace("Controller",""))' + '/' + '@nameof(Index)', '_self');
    } 
    
    hubConnection.start().then(function () {
            console.log("connected");
        });
</script>